.container {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #2e374a;
    padding: 10px;
    border-radius: 10px;
    width: max-content;
}

.input {
    background: transparent;
    border: none;
    outline: none;
    color: var(--text);
}